// bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  padding: 0;
  margin: 0;
}

// Bootstrap settings
$enable-gradients: true;

@mixin debug {
  border: 1px solid red !important;
}

.debug {
  border: 1px solid red !important;
}